<div class="container">
    <div class="row mt-3">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa in officiis asperiores nobis accusantium explicabo dolorem earum, quod illo voluptas saepe adipisci nam illum non, aspernatur et, necessitatibus provident rerum vel impedit quisquam distinctio eaque totam pariatur! Voluptatibus, perferendis dolorum?</p>
        </div>
    </div>
</div>


<!-----  Contact Form  ----->

 <div class="container">
    <div class="row">
          <div class="col-sm-4">
            <form [formGroup]="AddContact" > 
                <div class="mb-2">
                    <input type="text" placeholder="Name" class="form-control" formControlName="Name">
                </div>
                <div class="mb-2">
                    <input type="text" formControlName="PhotoUrl" placeholder="Photo URL" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="Email" formControlName="Email" placeholder="Email" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" formControlName="Mobile" placeholder="Mobile" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" formControlName="Company" placeholder="Company" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" formControlName="Title" placeholder="Title" class="form-control">
                </div>

                 <div class="mb-2">
                    <select
                    class="custom-select mb-3" formControlName="GruopName" class="form-control">
                    <option value="" checked >Choose Group</option>
                    <option *ngFor="let group of Group" >
                      {{ group }}
                    </option>
                  </select>

                </div>
                 <div class="mb-2">
                    <button type="button" class="btn btn-danger" (click)="postContactDetails()">Create</button>
                    <a routerLink="/contacts/admin" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
          </div> 

          <div class="col-sm-4">
              <img src="https://img.icons8.com/color/2x/user.png" alt="Avtar.jpg" class="contact-img">
          </div>

     </div>
</div>



<!-- <div class="container">
    <form [formGroup]="AddContact" (ngSubmit)="onSubmit"> 
        <input type="text" placeholder="Name" formControlName="Name">
        <input type="text" placeholder="Email" formControlName="Email">
        <button class="btn btn-lg btn-primary" (click)="onSubmit()">Submit</button>
    </form>
</div> -->
