<div class="container">
    <div class="row mt-3">
        <div class="col">
            <p class="h3 text-danger">View Contact</p>
            <p class="fst-italic text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium placeat assumenda id iusto! Autem ipsa distinctio eveniet numquam. Earum molestias voluptatem ullam natus iste nulla dicta tempore illo soluta, at minus, ex ad ea cumque neque, eum quisquam dolore ipsa!</p>
        </div>
    </div>
</div>

<!-----Contact Details---->

<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src={{ContArray.PhotoURL}} alt="Avatar" class="img-contact"> 
        </div>

        <div class="col-sm-6">
            <ul class="list-group ">
                <li class="list-group-item list-group-item-danger">Name : <span class="fw-bold">{{ContArray.Name}}</span></li>
                <li class="list-group-item list-group-item-danger">Email : <span class="fw-bold">{{ContArray.Email}}</span></li>
                <li class="list-group-item list-group-item-danger">Mobile : <span class="fw-bold">{{ContArray.Mobile}}</span></li>
                <li class="list-group-item list-group-item-danger">Company : <span class="fw-bold">{{ContArray.Company}}</span></li>
                <li class="list-group-item list-group-item-danger">Title : <span class="fw-bold">{{ContArray.Title}}</span></li>
                <li class="list-group-item list-group-item-danger">Group : <span class="fw-bold">{{ContArray.GroupName}}</span></li>
                </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a class="btn btn-danger" routerLink="/">
                <i class="fa fa-arrow-alt-circle-left"></i> Back</a>
        </div>
    </div>
</div>